<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ARCHIVE POST</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="buttonArchiveNew">
      <button onclick="location.href='/create'">NEW POST</button>
      <button onclick="location.href='/archive'">ARCHIVE</button>
    </div>
    <h2>{{.Title}}</h2>
    <div class="buttonContainer">
    <ul>
      <li>{{.Nick}}</li>
      <li>{{.Post}}</li>
    </ul>
    {{if .ImageURL}}
    <br />
    <img src="{{.ImageURL}}" alt="{{.Title}}" width="200" />
    {{end}}
    <h3>Комментарий:</h3>
    {{if .Comments}}
    <ul>
      {{range .Comments}}
      <li><b>{{.Nick}} (ID: {{.UserID}})</b> {{.Content}}</li>
      {{end}}
    </ul>
    {{else}}
    <p>Комментариев нету.</p>
    {{end}}
  </body>
</html>
