<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{.OnePost.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div>
      <button onclick="location.href='/create'">CREATE POST</button>
      <button onclick="location.href='/archive'">ARCHIVE</button>
    </div>

    <h2>{{.OnePost.Title}}</h2>
    <ul>
      <li>{{.OnePost.AuthorPost.Name}}</li>
      <li>{{.OnePost.Content}}</li>
    </ul>

    {{if .OnePost.ImageURL}}
    <br />
    <img src="{{.OnePost.ImageURL}}" alt="{{.OnePost.Title}}" width="200" />
    {{end}}

    <h3>Комментарии:</h3>

    {{if .Comments}}
    <ul>
      {{range .Comments}}
      <!-- Родительский комментарий -->
      <li id="comment-{{.ParentComment.CommentID}}">
        <b>{{.ParentComment.Author.Name}} (ID: {{.ParentComment.CommentID}})</b
        >: {{.ParentComment.CommentContent}}<br />
        <a href="#comment-form" onclick="replyTo({{.ParentComment.CommentID}})"
          >Ответить</a
        >
      </li>

      <!-- Дочерние комментарии (1 уровень вложенности) -->
      {{range .ChildrenComment}}
      <li style="margin-left: 30px" id="comment-{{.CommentID}}">
        └─ <b>{{.Author.Name}} (ID: {{.CommentID}})</b> → ответ на #{{.PostID}}
        {{$.ParentComment.Author.Name}}:<br />
        {{.CommentContent}}<br />
        <a href="#comment-form" onclick="replyTo({{.CommentID}})">Ответить</a>
      </li>
      {{end}} {{end}}
    </ul>
    {{else}}
    <p>Комментариев нету.</p>
    {{end}}

    <form
      method="POST"
      action="/post/{{.OnePost.PostID}}"
      id="comment-form"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="post_id" value="{{.OnePost.PostID}}" />
      <input type="hidden" name="parent_id" id="parent-comment-id" value="0" />
      <label for="new_comment">Введите коммент:</label>
      <input type="text" id="new_comment" name="comment_content" required />
      <button type="submit">Отправить</button>
    </form>

    <script>
      function replyTo(commentID) {
        document.getElementById("parent-comment-id").value = commentID;
        document.getElementById("new_comment").placeholder =
          "Ответ на #" + commentID;
        document.getElementById("new_comment").focus();
      }
    </script>
  </body>
</html>
